body {
   font-family: Arial, sans-serif;
 background-color: #f0f0f0;
 background-image: url('seyedeh-hamideh-kazemi-H67AHfpKhZk-unsplash.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover; /* Ajustar a imagem de fundo para cobrir toda a página */
    background-position: center; /* Centralizar a imagem de fundo */
    background-attachment: fixed;
    text-align: center;

}

.convite {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

img {
    width: 200%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: disc;
}

ul li {
    margin-left: 20px;
}
/* Media query para telas menores (máximo de 768px) */
@media (max-width: 768px) {
    .convite {
        max-width: 100%; /* O convite ocupará toda a largura da tela */
        padding: 10px; /* Ajuste o espaçamento para telas menores */
        /* Outros ajustes de estilo para telas menores */

    }
}